@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.footer {
  padding: $space_x3 $space_x2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  bottom: 0;
  background-color: $color-oscuro;
  color: $color-claro;
  &__logo {
    display: flex;
    align-items: center;
    color: $color-claro;
    text-decoration: none;
    cursor: pointer;
    img {
      margin-right: $space;
      width: 20px;
    }
    h1 {
      font-weight: $normal;
      font-family: $Fuente2;
      @include font-size($h3);
    }
  }
  &__links {
    color: $color-claro;
    a {
      margin: 0 $space;
      text-decoration: none;
      color: $color-claro;
      cursor: pointer;
    }
  }
}
