@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.header {
  padding: $space $space_x2;
  display: flex;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
  background-color: get-opacity($color-primario, .9);
}

.nav {
  display: flex;
  align-items: center;
  color: $color-claro;
  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: $space;
      width: 20px;
    }
    h1 {
      font-weight: $normal;
      font-family: $Fuente2;
      @include font-size($h3);
    }
  }
}
