//  .██████╗.██████╗.██╗......██████╗.██████╗.███████╗
//  ██╔════╝██╔═══██╗██║.....██╔═══██╗██╔══██╗██╔════╝
//  ██║.....██║...██║██║.....██║...██║██████╔╝███████╗
//  ██║.....██║...██║██║.....██║...██║██╔══██╗╚════██║
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║..██║███████║
//  .╚═════╝.╚═════╝.╚══════╝.╚═════╝.╚═╝..╚═╝╚══════╝
//  ..................................................

//Brand colors

$color-primario: #a66a80;
$color-secundario: #c4e5f2;

//Action colors

$color-variante: #204254;
$color-variante-dos: #539da6;

//Boolean colors
$color-negative: rgba(255, 0, 0, 0.8);
$color-positive: #04bf42;

//Background colors

$color-bg-claro: #f2f2f2;
$color-bg-oscuro: #213740;

//Basic colors

$color-claro: #ffffff;
$color-oscuro: #262626;
