@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.next__step {
  padding-top: calc(100% - 50%);
  position: relative;
  bottom: 20px;
  button {
    padding: $space $space_x2;
    width: 450px;
    font-family: $Fuente2;
    font-weight: $medium;
    border: none;
    border-radius: 5px;
    color: $color-claro;
    background-color: $color-primario;
    transition: 1s;
    cursor: pointer;
    @include sombras;
    &:hover {
      color: $color-claro;
      text-decoration: none;
      background-color: $color-secundario;
    }
  }
}
