@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.canvas__small {
  padding: $space 0;
  align-items: center;
  position: fixed;
  z-index: -1;
  top: 5%;
  left: 24%;
  width: 500px;
  height: 600px;
  background-image: url("./../img/design/canvaDefault.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  @include display-grid;
  @include grid-template-columns(auto);
  @include grid-template-rows(auto auto auto);
  h2 {
    margin: 0 auto;
    font-weight: $normal;
    font-size: 5px;
    text-align: center;
    text-transform: uppercase;
    color: $color-claro;
  }
  img {
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    transition: 1s ease-in-out;
  }
  p {
    padding-bottom: $space_half;
    margin: 0 auto;
    width: 100%;
    font-size: 4px;
    font-weight: $light;
    text-align: center;
    color: $color-claro;
  }
  .spotify {
    display: none;
    position: relative;
    margin: 0 auto;
    width: 30px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    transition: 500ms ease-in-out;
  }
  @include media(tablet) {
    top: 5%;
    left: 22%;
    width: 500px;
    height: 600px;
  }
  @include media(desktop-s) {
    top: 5%;
    left: 22%;
    width: 500px;
    height: 500px;
  }
  @include media(desktop-m) {
    top: 25%;
    left: 27%;
    width: 225px;
    height: 280px;
  }
  @include media(desktop-l) {
    top: 10%;
    left: 0%;
    width: 70%;
    height: 480px;
  }
}
