@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.canvas {
  padding: $space_x3 0;
  align-items: center;
  position: fixed;
  z-index: -1;
  top: 5%;
  left: 24%;
  width: 500px;
  height: 600px;
  background-image: url("./../img/design/canvaDefault.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  @include display-grid;
  @include grid-template-columns(auto);
  @include grid-template-rows(auto auto auto);
  &__title {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: $color-claro;
    font-weight: $normal;
    @include font-size(8px);
  }
  .canvas__map {
    position: relative;
    margin: 0 auto;
    width: 230px;
    height: 230px;
    border-radius: 100%;
    object-fit: cover;
  }
  &__subtitle {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    color: $color-claro;
    font-weight: $light;
    @include font-size(5px);
    .spotify {
      position: relative;
      margin: 0 auto;
      width: 70px;
      height: auto;
      border-radius: 5px;
      object-fit: cover;
    }
  }
  @include media(tablet) {
    top: 5%;
    left: 22%;
    width: 500px;
    height: 600px;
  }
  @include media(desktop-s) {
    top: 5%;
    left: 22%;
    width: 500px;
    height: 500px;
  }
  @include media(desktop-m) {
    top: 10%;
    left: 23%;
    width: 350px;
    height: 470px;
  }
  @include media(desktop-l) {
    top: 10%;
    left: 0%;
    width: 70%;
    height: 480px;
  }
}
