@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.canvas {
  padding: $space 0;
  align-items: center;
  position: fixed;
  z-index: -1;
  top: 2%;
  left: 8%;
  width: 85%;
  height: 500px;
  background-image: url("./../img/design/canvaDefault.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  @include display-grid;
  @include grid-template-columns(auto);
  @include grid-template-rows(auto auto auto);
  &__title {
    margin: 0 auto;
    font-weight: $light;
    font-family: $Fuente2;
    text-align: center;
    color: $color-claro;
    @include font-size(13px);
  }
  &__subtitle {
    margin: 0 auto;
    width: 80%;
    font-weight: $light;
    font-family: $Fuente1;
    text-align: center;
    color: $color-claro;
    @include font-size(11px);
  }

  @include media(tablet) {
    top: 2%;
    left: 5%;
    width: 90%;
    height: 500px;
    &__title {
      margin: 0 auto;
      font-size: 7px;
      font-weight: $normal;
      text-align: center;

      color: $color-claro;
    }
    &__subtitle {
      margin: 0 auto;
      width: 70%;
      font-size: 7px;
      font-weight: $light;
      text-align: center;
      color: $color-claro;
    }
  }
  @include media(desktop-s) {
    top: 10%;
    left: 16%;
    width: 350px;
    height: 500px;
    &__title {
      margin: 0 auto;
      text-align: center;

      color: $color-claro;
      font-weight: $normal;
      @include font-size(10px);
    }
    &__subtitle {
      margin: 0 auto;
      width: 50%;
      text-align: center;
      color: $color-claro;
      font-weight: $light;
      @include font-size(8px);
    }
  }
  @include media(desktop-m) {
    padding: $space;
    top: 10%;
    left: 23%;
    width: 350px;
    height: 500px;
    &__title {
      margin: 0 auto;
      text-align: center;
      color: $color-claro;
      font-weight: $light;
      @include font-size(12px);
    }
    &__subtitle {
      margin: 0 auto;
      width: 70%;
      text-align: center;
      color: $color-claro;
      font-weight: $normal;
      @include font-size(8px);
    }
  }
  @include media(desktop-l) {
    padding: $space;
    top: 10%;
    left: 23%;
    width: 450px;
    height: 600px;
    &__title {
      margin: 0 auto;
      text-align: center;
      color: $color-claro;
      font-weight: $light;
      @include font-size(15px);
    }
    &__subtitle {
      margin: 0 auto;
      width: 70%;
      text-align: center;
      color: $color-claro;
      font-weight: $light;
      @include font-size(10px);
    }
  }
}

.canvas__map {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: auto;
  border: 3px solid $color-claro;
  border-radius: 100%;
  object-fit: cover;
  transition: 1s ease-in-out;
  @include media(tablet) {
    width: 80%;
    height: auto;
  }
  @include media(desktop-s) {
    width: 80%;
    height: auto;
  }
  @include media(desktop-m) {
    width: 90%;
    height: auto;
  }
  @include media(desktop-l) {
    width: 90%;
    height: auto;
  }
}

.spotify {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 70px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  transition: 500ms ease-in-out;
}
