@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

body {
  font-family: $Fuente1;
  background-color: $color-bg-claro;
  background-repeat: no-repeat;
  background-position: center;
}
