@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.hero {
  padding: $space_x3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 70%;
  height: 100vh;
  color: $color-claro;
  h1 {
    padding-bottom: $space_x3;
    width: 100%;
    font-weight: $medium;
    @include font-size(45px);
  }
  button {
    @include botones;
  }
}
