@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("./../img/3d-render-of-tree-landscape-against-night-sky.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  &__container {
    padding: $space_x3;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: $space;
    background-color: get-opacity($color-primario, 0.0);
    button {
      outline: none;
      cursor: pointer;
    }
  }
}
