@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.testimonies {
  padding: 60px $space_x3;
  grid-gap: $space_x3;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  text-align: center;
  background-color: $color-bg-claro;
  h1 {
    padding-bottom: $space_x2;
    font-family: $Fuente2;
    color: $color-primario;
    @include font-size(40px);
  }
  p {
    margin: 0 auto;
    width: 85%;
  }

}
.testimoniesCards {
  padding: 0 $space_x3;
  align-items: center;
  width: 80%;
  height: 240px;
  border-radius: $space;
  color: $color-claro;
  background-color: $color-primario;
  @include display-grid;
  @include grid-template-columns(auto auto);
  &__user {
    padding: $space $space_x2;
    width: auto;
    text-align: center;
    img {
      margin: $space_x2 auto;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      object-fit: cover;
    }
    h3 {
      font-weight: $normal;
      @include font-size($p);
    }
  }
  &__text {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
