@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.main {
  .canvas__preview {
    position: absolute;
    width: 70%;
    min-height: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
  }
  &__menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35%;
    height: 100%;
    background-color: $color-claro;
    input[type="time"] {
      @include inputs;
    }
    label {
      font-weight: $medium;
    }
  }
}

.date {
  padding: $space;
  width: 100%;
  font-size: $p;
  border: none;
  border-bottom: 1px solid $color-primario;
  outline: none;
  background-color: $color-claro;
  cursor: pointer;
  &:placeholder {
    color: $color-primario;
  }
  @include media(desktop-s) {
    width: 32%;
  }
}
.text {
  @include inputs;
}
